*{
    margin: 0;
    padding: 0;
}

.table {
    margin: 0 auto;
    margin-top: 20px;
    /* margin-top: 30%; */
    font-family: Arial, Helvetica, sans-serif;
    border-spacing: 20px 10px;
}

thead th{
    color: aliceblue;
    padding: 5px;
    border: 3px solid red;
    background-color: blue;
}

tbody td{
padding: 5px;
color: red;
border: 2px solid rgb(54, 18, 74);
background-color: yellow;

}

tfoot td{
    padding: 5px;
color: green;
border: 2px solid rgb(54, 18, 74);
background-color:orange;
}