* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Playwrite GB S', cursive;
}

.signup__container {
  display: flex;
  justify-content: space-between;
  max-width: 900px;
  gap: 20px;
  border-radius: 8px;
  background: #50b4d7;
  margin: 0 auto;
  padding: 10px;
}

.signup__title {
  text-align: center;
  font-size: 32px;
  color: white;
}

.signup__left {
  width: 50%;
  margin-top: 50px;
}
.signup__left p {
  font-size: 12px;
  color: white;
  text-align: center;
  padding: 5px 0;
}

.form,
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

form div {
  width: 100%;
}

form div input {
  width: 100%;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: white;
  padding: 5px 10px;
}

form button {
  width: 100%;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: #6b75cc;
  color: white;
  padding: 5px 10px;
}

#login-form {
  display: none;
}

.img {
  height: 300px;
  width: 100%;
  background: white;
  border-radius: 8px;
}
