ul {
  width: fit-content;
  list-style: none;
}

li{
  text-align: center;
  color: white;
  padding: 10px;
  margin: 10px;
  border: 5px solid black;
  border-radius: 10px;

}
.A {
  background-color: red;
}

.B {
  background-color: blue;

}

.C {
  background-color: lightcoral;
}

.D {
  background-color: green;
}

.E {
  background-color: rgb(255, 89, 0);
}
