.note {
  background: rgb(186, 223, 238);
  transition: background-color 0.4s;
  transition: box-shadow 0.4s;
  border-radius: 10px;
  min-height: 70px;
  width: 500px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 15px;
}

.note:hover {
  background: rgb(213, 238, 248);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.452);
}

.p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  color: navy;
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;
}

.pDone {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  color: rgb(0, 121, 6);
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;
}

.check {
  cursor: pointer;
}
