body {
  padding: 0;
  margin: 0;
}

/* #btn {
  padding: 5px 10px;
  border-radius: 8px;
  background: none;
  border: 1px solid black;
}

.newElement {
  padding: 10px;
  border: 1px solid black;
  background: red;
} */

/* .hidden {
  display: none;
} */

.element {
  background-color: darkcyan;
  padding: 16px;
  border-radius: 12px;
  margin-bottom: 16px;
}

.children {
  background-color: lightblue;
  padding: 8px;
  color: #222222;
  border-radius: 8px;
  width: fit-content;
  margin-bottom: 12px;
}

button {
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #999999;
}

/* .shown {
  display: none;
} */

.hidden {
  display: none;
}
