* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.logo__container img {
    width: 100px;
}

header {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header__left {
    display: flex;
    gap: 20px;
}

.menu {
    display: flex;
    gap: 20px;
    align-items: center;
}

.header__right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.login__btn {
    background: none;
    border: none;
}

.signup__btn {
    padding: 2px 4px;
    border-radius: 8px;
    border: none;
    outline: none;
    color: white;
    background-color: rgb(137, 25, 137);
}

.header__right-btns span {
    color: rgba(0, 0, 0, 0.4)
}

.mobile__menu {
    display: none;
}

@media(max-width: 930px) {
    .menu {
        display: none;
    }

    .mobile__menu {
        display: block;
    }
}