* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Playwrite GB S', cursive;
  padding: 5%;
}

label {
  display: inline-block;
  min-width: 145px;
  font-size: 18px;
  margin-bottom: 12px;
}

input {
  padding: 8px 12px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: rgb(223, 223, 223);
}

button {
  background-color: teal;
  color: white;
  padding: 1.5%;
  border-radius: 8px;
  min-width: 145px;
  border: 1px solid teal;
}

button:hover {
  background-color: transparent;
  border: 1px solid teal;
  color: teal;
  transition: all 0.3s ease-in-out;
}
