.noteList {
  min-height: 700px;
  width: 500px;
  background: rgb(114, 139, 168);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.678);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}
