@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  padding: 24px 16px;
}

.header-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 12px;
}

.main-header {
  font-size: 20px;
  font-weight: 500;
}

.header-group__sub-header {
  font-size: 15px;
}

.search-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  width: 100%;
  height: 48px;
  border-radius: 28px;
  background-color: rgba(103, 80, 164, 0.05);
  padding: 0 16px;
  margin-bottom: 16px;
}

.search-field__input {
  height: 100%;
  width: 100%;
  background: none;
  border: none;
  outline: none;
  appearance: none;
  font-size: 16px;
  line-height: 24px;
}

.search-field__icon {
  color: #49454f;
}

.float-button {
  position: fixed;
  background-color: rgba(235, 222, 247, 1);
  box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15),
    0px 1px 3px 0px rgba(0, 0, 0, 0.3);
  width: 56px;
  height: 56px;
  border: none;
  outline: none;
  right: 16px;
  bottom: 16px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.float-button span {
  color: #1f182a;
}

.todo-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 16px 0;
}

.split-button {
  width: 100%;
  height: 48px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid #79747e;
  border-radius: 24px;
  overflow: hidden;
  margin-bottom: 16px;
}

.split-button__button {
  border: none;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  background-color: rgb(255, 255, 255);
  transition: all 0.15s linear;
  padding: 10px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.split-button__button-icon {
  width: 0;
  overflow: hidden;
  transition: all 0.15s linear;
  color: #381e72 !important;
  font-size: 18px !important;
}

.split-button__button--center {
  border-left: 1px solid #79747e;
  border-right: 1px solid #79747e;
}

.split-button__button--active {
  background-color: rgba(232, 222, 248, 1);
}

.split-button__button--active .split-button__button-icon {
  width: 18px;
}

.checkbox {
  position: relative;
  width: 34px;
  height: 34px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.checkbox input[type='checkbox'] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #49454f;
  border-radius: 2px;
  transition: all 0.15s linear;
  cursor: pointer;
}

.checkbox input[type='checkbox']:checked {
  background-color: rgba(232, 222, 248, 1);
  border-color: rgba(232, 222, 248, 1);
}

.checkbox:has(input[type='checkbox']:checked) .checkbox__check-icon {
  opacity: 100%;
}

.checkbox__check-icon {
  position: absolute;
  top: 7px;
  left: 7px;
  pointer-events: none;
  font-size: 20px !important;
  color: #381e72;
  transition: all 0.15s linear;
  opacity: 0%;
}

.todo-block {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 12px 8px 8px;
  background-color: rgba(103, 80, 164, 0.05);
  border-radius: 16px;
  min-height: 62px;
}

.todo-block span {
  margin-left: auto;
  cursor: pointer;
}

.todo-block:has(input[type='checkbox']:checked) > .todo-block__data {
  text-decoration: line-through;
  color: rgba(29, 27, 30, 0.5) !important;
}

.todo-block__data {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.todo-block__date {
  font-size: 14px;
  color: inherit;
}

.todo-block__title {
  font-size: 16px;
  font-weight: 400;
  color: inherit;
}

.create-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border-radius: 16px 16px 0 0;
  background-color: rgba(247, 242, 250, 1);
}

.modal-form {
  position: fixed;
  height: 100vh;
  width: 100%;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  flex-direction: column;
  justify-content: flex-end;
}

.closeBtn {
  width: fit-content;
  margin-left: auto;
  cursor: pointer;
}
.create-form__input {
  height: 56px;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #79747e;
  border-radius: 4px;
  background: none;
  outline: none;
  transition: all 0.15s linear;
  padding: 4px 16px;
}

.create-form__input:focus {
  border: 1px solid #6750a4;
}

.form__buttons-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.form-button {
  height: 40px;
  width: fit-content;
  padding: 10px 24px;
  font-size: 14px;
  font-weight: 500;
  border: none;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
}

.form-button--primary {
  color: #ffffff;
  background-color: #6750a4;
  border: 1px solid #6750a4;
}

.form-button--secondary {
  color: #6750a4;
  background-color: #ffffff;
  border: 1px solid #6750a4;
}
