@import url('./fonts.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0c0417;
  color: #1ed760;
  font-family: 'Rubik', Helvetica, sans-serif;
}

button {
  font-family: inherit;
  border: none;
  outline: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}
