@media (max-width: 1440px) {


    h1 {
        font-size: 67px;
    }

    .intro__main-content p {
        font-size: 18px;
        line-height: 28px;
    }

    .main-content__right img {
        max-width: 300px;
    }

    .intro__main {
        padding: 180px 0;
    }
}