* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
}

.intro {
  background: url("./assets/bg/intro-bg.jpg") no-repeat center center / cover;
}

.intro__top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.intro__top h4 {
  background: #323232;
  width: 100%;
  color: white;
  text-align: right;
  padding: 16px 40px 16px 0;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1.3px;
}

.intro__top button {
  min-width: 215px;
  padding: 18px;
  border: none;
  text-transform: uppercase;
  background: #ff3c00;
  letter-spacing: 1.3px;
  color: white;
}

.container {
  max-width: 1272px;
  margin: 0 auto;
}

.intro__main {
  padding: 231px 0;
}

.intro__main h1 {
  font-size: 77px;
  line-height: 80px;
  font-weight: 900;
  text-transform: uppercase;
}

.intro__main-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.intro__main-content p {
  font-size: 20px;
  line-height: 33.6px;
  max-width: 816px;
}

.main-content__left {
  padding-top: 44px;
}

.main-content__left button {
  text-transform: uppercase;
  padding: 22px 35px;
  background: #323232;
  color: white;
  font-size: 19.5px;
  font-weight: bold;
}

.main-content__left p:first-child {
  margin-bottom: 26px;
}

.main-content__left p:nth-child(2) {
  margin-bottom: 57px;
}

.tickets {
  background: #fbdb3c;
}

.tickets__top {
  padding-top: 160px;
  display: flex;
  justify-content: space-between;
}

.tickets__list {
  padding: 80px 0 160px 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.ticket__left {
  display: flex;
  align-items: center;
  gap: 135px;
}

.tickets__list-item {
  position: relative;
  display: flex;
  width: 1242px;
  justify-content: space-between;
  align-items: center;
  background: white;
}

.ticket__left-center {
  position: relative;
}

.ticket__left-center div:first-child {
  font-size: 24px;
  line-height: 27px;
  color: #212529;
  margin-bottom: 6px;
  opacity: 0.6;
}

.ticket__left-center div:nth-child(2) {
  font-size: 25px;
  font-weight: bold;
  line-height: 27px;
  color: #212529;
  margin-bottom: 23.5px;
  opacity: 0.6;
}

.ticket__left-center::before {
  content: "";
  position: absolute;
  height: 150px;
  width: 10px;
  left: -65%;
  top: -15%;
  background: url("./assets/icons/arrow.svg") no-repeat center center / contain;
}

.ticket__left-center div:last-child {
  font-size: 18px;
  line-height: 30px;
  color: #8f73f0;
  opacity: 0.6;
}

.tickets__list-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: -15px;
  background: url("./assets/icons/before.svg") no-repeat center center / contain;
  width: 15px;
  height: 100%;
}

.tickets__list-item::after {
  content: "";
  position: absolute;
  top: 0;
  right: -15px;
  background: url("./assets/icons/after.svg") no-repeat center center / contain;
  width: 15px;
  height: 100%;
}

.tickets__list-item h3 {
  font-size: 54px;
  font-weight: bold;
  padding: 80px 75px 80px 60px;
}

.soldout {
  background-color: #cccccc;
  font-weight: bold;
  font-size: 48px;
  padding: 63px 80px;
  text-align: center;
  line-height: 50px;
  height: 100%;
}

/*-------------FAQ---------------------- */

.faq {
  background-color: #eaeaea;
}

.faq__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* .accordion:first-child {
  background-color: #ffffff;
} */

.accordion__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 27.5px;
  font-weight: bold;
}

.accordion {
  background-color: #ffffff66;
  height: fit-content;
  padding: 50px;
  border-radius: 20px;
}

.accordion__top img {
  transition: all 0.3s linear;
  transform: rotate(180deg);
  cursor: pointer;
}

.accordion-active {
  transform: rotate(0) !important;
  background-color: white;
  transition: background 0.5s linear;
}

.accordion__bottom {
    font-size: 18px;
    line-height: 31px;
    max-height: 0px;
    overflow: hidden;
    padding-top: 0;
    transition: all 0.3s linear;
}

.accordion-active .accordion__bottom {
    padding-top: 28px;
    max-height: 600px;
    
}
.accordion-active .accordion {
  background-color: white;
}

.faq h3 {
  padding: 160px 0 53px 0;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}

.faq {
  padding-bottom: 170px;
}
.cookies {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 243px 10px 32px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
}
.cookies__left {
  max-width: 990px;
  font-size: 11px;
  line-height: 19px;
  font-weight: 300;
}

.cookies__left p span {
  font-size: 12px;
  font-weight: bold;
  border-bottom: 1.5px solid black;
  padding-bottom: 2px;
}

.cookies__right {
  max-width: 410px;
  display: flex;
  gap: 16px;
  align-items: center;
}

.cookies__right a {
  color: #324FBE;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1.5px solid #324FBE;
}

.cookies__right button {
  padding: 14px 42px;
  background-color: #324FBE;
  border: none;
  font-size: 12px;
  color: white;
}

.form {
  background-color: #EAEAEA;
  padding-top: 330px;
}

.modal {
  position: fixed;
  display: none;
  top: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
}

.modal__container {
  width: 500px;
  height: 500px;
  background-color: white;
}

.form__top {
  max-width: 860px;
}

.form__top h3 {
  font-size: 48px;
  line-height: 50px;
  font-weight: bold;
  margin-bottom: 13px;
}
.form__top p {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 55px;
}

.main__form {
  display: flex;
  gap: 20px;
  margin-bottom: 26px;
}
.form__field {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 413px;
}

.form__field label span {
  color: red;

}

.form__field input {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  border: none;
}
.submit {
  display: block;
  padding: 15px;
  margin-top: 54px;
  font-weight: bold;
  color: white;
  font-size: 20px;
  background-color: #212529;
}