*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn{
    margin: 100px;
    padding: 5px 15px;
    cursor: pointer;
}

.btn:hover{
    background-color: aqua;
    border-radius: 5px;
    /* border: none; */
}

.btn:focus{
    background-color: black;
    color: white;
}

.btn:focus::after{
    content: ' - Button clicked';
}