* {
    padding: 1px;
    margin: 10px;
}

h3 {
    color: red;
    border: 2px solid black;
    background: green;
}

p1 {
    color: yellow;
    border: 10px solid black;
    background: red;
}

p2 {
    color: green;
    border: 5px solid black;
    background: blue;
}

img{   
    width: 250px;
}