.light_header {
  min-height: 15vh;
  display: flex;
  align-items: baseline;
  padding-left: 30px;
  background: lightblue;
  border-bottom: 3px solid rgb(6, 63, 82);
  color: navy;
}

.dark_header {
  min-height: 15vh;
  display: flex;
  align-items: baseline;
  padding-left: 30px;
  background: rgb(6, 63, 82);
  border-bottom: 3px solid lightblue;
  color: lightblue;
}

.light_button {
  border: 3px solid navy;
  border-radius: 10%;
  background: lightblue;
  color: black;
  width: 75px;
  height: 75px;
  margin: 20px;
}

.dark_button {
  border: 3px solid lightblue;
  border-radius: 10%;
  background: navy;
  color: white;
  width: 75px;
  height: 75px;
  margin: 20px;
}
