* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.modal {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
}

.modal__content {
  width: 400px;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  position: relative;
}

.modal__content img {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
  cursor: pointer;
}
