.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  height: 30px;
  width: 200px;
  margin: 10px;
  padding: 7px;
  border: 2px solid rgb(186, 223, 238);
  border-radius: 20px;
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
  color: navy;
}

.button {
  cursor: pointer;
  transition: background-color 0.4s;
  transition: box-shadow 0.4s;
  height: 30px;
  width: 100px;
  border: 2px solid rgb(149, 179, 190);
  border-radius: 10px;
  background-color: rgb(186, 223, 238);
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
  color: navy;
}

.button:hover {
  background: rgb(213, 238, 248);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.452);
}
