* {
  padding: 0;
  margin: 0;
  /* дочерние элементы не полезут за пределы родителя при увеличении внутренних отступов */
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  background: teal;
}

input {
  padding: 10px;
  border-radius: 8px;
  background-color: white;
  border: none;
  outline: none;
}

.container {
  max-width: 250px;
  margin: 20% auto 0 auto;
}

.container__content {
  background: #139b9b;
  padding: 10px;
  border-radius: 8px;
}

.container__form h3 {
  margin-bottom: 10px;
}

.field__form {
  margin-bottom: 5px;
}

.field__form input {
  width: 100%;
}

.field__form-bottom input {
  width: 49%;
  cursor: pointer;
}

.input__clean:hover {
  background-color: rgba(255, 8, 8, 1);
  transition: 0.5s ease-in;
}

.field__form-checkbox {
  margin-top: 5px;
  text-align: center;
}
