@use './reset';
@use './mixins' as *;

.frame {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  @include sizing;

  .cards {
    display: grid;
    grid-auto-flow: column;
    position: absolute;
    transition: left 0.5s ease;
    left: 0;

    .card {
      background-size: cover;
      background-position: center;
      @include sizing;
    }
  }

  .trigger {
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;

    button {
      width: 50px;
      font-size: 40px;
      background-color: rgba(0, 0, 0, 0.3);
      border: none;
      color: white;
      opacity: 0;
      transition: opacity 0.5s;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.rounds {
  position: absolute;
  z-index: 999;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 15px;

  button {
    width: 20px;
    height: 20px;
    background-color: #ecf0f1;
    border: 2px solid black;
    border-radius: 50%;
  }

  .active {
    background-color: #e67e22;
  }
}
