*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}

.container{
    display: flex;
    /* выравнивание по горизонтали */
    justify-content: center;

    /* создает равное расстояние между дочерними элементами по всей допустимой 100% ной ширине */
    /* justify-content: space-between; */
    
    /* создает равное расстояние между дочерними элементами по всей допустимой 100% ной ширине */
    /* justify-content: space-evenly; */

    /* создает равное расстояние между дочерними элементами по всей допустимой 100% ной ширине и создает расстояние слева и справа от границы равное половине расстоянию между элементами */
    /* justify-content: space-around; */

    /* создает расстояние между дочерними элементами флекса */
    gap: 20px;
    /* выравнивает элементы по вертикали */
    /* align-items: center; */

    /* выравнивает элементы по верху допустимой высоты */
    /* align-items: flex-start; */

    /* выравнивает элементы по низу допустимой высоты */
    align-items: flex-end;
    flex-wrap: wrap;
    height: 100px;
    
    /* align-content we don#t use that normally */
}

.box{
width: 300px;
text-align: center;


}

/* .big__box {
    background: red;
    width: 30px;
    height: 30px;
} */
