.light_background {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(197, 223, 231);
  overflow-x: hidden;
  color: rgb(35, 15, 83);
}

.dark_background {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(34, 71, 83);
  overflow-x: hidden;
  color: rgb(203, 240, 247);
}
