html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  overflow-x: auto;
  overflow-y: auto;
  background: linear-gradient(
    rgba(159, 159, 204, 0.568),
    rgba(187, 162, 162, 0.637)
  );
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: white;
}
