* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  gap: 50px;
  flex-wrap: wrap;
}

.listItem {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  border: 1px solid black;
  /* text-align: center; */
}
.listItem h3 {
  text-align: center;
}

.listItem button {
  /* width: fit-content; */
  margin: 0 auto;
  padding: 8px 45px;
}

.mainButton {
  padding: 20px 80px;
  margin: 0 auto;
  display: block;
}

button {
  cursor: pointer;
}

button:hover {
  background-color: rgb(136, 117, 136);
  font-size: 22px;
  border: 3px solid white;
  transition: 0.5s ease-in;
}

.modal__container {
  width: 400px;
  /* height: 100%; */
  background-color: white;
  padding: 10px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  justify-content: center;
  align-items: center;
}
