* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}
header {
  background-color: #e4019a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px 10px 30px;
  color: white;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.circle {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background-color: yellow;
}

.menu {
  list-style: none;
  display: flex;
  gap: 10px;
}

.open-modal {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  background-color: transparent;
  margin: 10px;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
}

.content {
  position: relative;
  width: 800px;
  max-height: 60%;
  overflow: auto;
  background-color: white;
  padding: 20px 45px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}
.content #close {
  position: absolute;
  right: 5px;
  top: 3px;
  /* transform: translate(50%, -50%); */
  cursor: pointer;
}

.content h2 {
  text-align: center;
}

.newPost {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#title {
  max-width: 215px;
  padding: 5px;
}

#description {
  max-width: 430px;
  padding: 5px;
}

.create {
  width: 140px;
  padding: 5px;
  font-size: 20px;
  border-radius: 8px;
  background-color: transparent;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 30px 0;
}

.post {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 15px 25px;
  border: 1px solid black;
}

.post_content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

img {
  max-width: 115px;
  max-height: 115px;
}

.render {
  width: 140px;
  padding: 5px;
  font-size: 20px;
  border-radius: 8px;
  background-color: transparent;
  margin: 0 auto;
}

.newBox {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.createdPost {
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
  border: 1px solid black;
  margin: 30px 0;
}

.created_content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

span {
  border-bottom: 1px solid black;
}
